.history
/**/**/*.env
/**/**/*.env.development
/**/**/*.env.production
/**/**/*.env.test
/**/**/*.env.staging
/**/**/node_modules
# /**/**/generated
/**/**/dist
/**/**/logs
/**/**/coverage
/**/**/*.tsbuildinfo
notes.txt
**/test-results
